{% extends 'recruiter/recruiter_home.html' %}

{% block addquestion %}
    <div class="header">
        <h3>Dodaj pytanie</h3>   
        <p>{{ quiz_name }}</p>
    </div>

    <div class="login">

        <form method="POST" action="recruiter_question_add" id="form4">
                {% csrf_token %}
                {{ question_form.as_p }}

                <script type="text/javascript">
                    document.getElementById("questionButton").onclick = function () {
                        location.href = window.location.href;      
                    };
                </script>
                
        </form>

    </div>
        
    <div class="buttons">
        <button type="submit" value="Submit" form="form4" id="questionButton">Dodaj pytanie</button>
    </div>

    <div class="oldquestions">
        <p>Pytania znajdujące się w quizie</p>
        {% for question in questionS %}                 
            <p style="color: chartreuse;">{{ question.content }}</p>
        {% endfor %}
    </div>

{% endblock %}