{% extends 'recruiter/recruiter_home.html' %}

{% block ranking %}
    <div class="header">
        <h3>Ranking kandydatów</h3>   
    </div>
    <div class="rank">
        <table>
            <tr>
                <th>Kandydat</th>
                <th>Stanowisko</th>
                <th>Quiz</th>
                <th>Punkty</th>
                <th>Ocena</th>
                <th>Status</th>
            </tr>
            {% for application in applications %}
            <tr>                    
                <td>{{ application.candidate_name }}</td>
                <td>{{ application.position }}</td>
                <td>{{ application.quiz_name }}</td>
                <td>{{ application.score }} / {{ application.full_score }}</td>
                <td>{{ application.grade }}</td>
                <td class="statusValue">{{ application.status }}</td>
            </tr>
            {% endfor %}
    </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("ready!");
            $(".statusValue").each(function () {
                if ($(this).html().includes("Rozpatrywana"))
                    $(this).css("background-color", 'rgba(255, 198, 0, 0.5)');
    
                if ($(this).html().includes("Zaakceptowana"))
                    $(this).css("background-color", 'rgba(0, 161, 0, 0.5)');
    
                if ($(this).html().includes("Odrzucona"))
                    $(this).css("background-color", 'rgba(255, 1, 0, 0.5)');
    
            });
    
        });
    </script>
    
{% endblock %}