{% extends 'recruiter/basic.html' %}

{% block addquestion %}
    <div class="header">
        <h3>Dodaj pytanie</h3>   
        <p>{{ quiz_name }}</p>
    </div>

    <div class="login">

        <form method="POST" action="recruiter_question_add" id="form4">
                {% csrf_token %}
                {{ question_form.as_p }}

                <script type="text/javascript">
                    document.getElementById("questionButton").onclick = function () {
                        location.href = window.location.href;      
                    };
                </script>
                
        </form>

    </div>
        
    <div class="buttons">
        <button type="submit" value="Submit" form="form4" id="questionButton">Dodaj pytanie</button>
    </div>

    <div class="ui cards"  style="margin-top: 40px;">
        <div class="card">
            <div class="content">
                <div class="header">Pytania znajdujące się w quizie</div>
                 
                <div class="meta">
                    {% for question in questionS %}
                        {{ question.content }} </br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}