{% extends 'recruiter/basic.html' %}

{% block overviewquiz %}
<div class="header">
    <div class="ui cards">
        <div class="card" style="width: 1200px; height: 55px;">
            <div class="content">
                <div class="site_name">Aplikacje kandydatów</div>
            </div>
        </div>
    </div>
</div>

{% for application in applications %}
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <div class="header">Aplikacja na stanowisko: {{application.position}}</div>
                <div class="meta">
                    <div class="dane">Dane kandydata: {{application.candidate_name}}</div>
                    <div class="dane">Opis kandydata: {{application.description}}</div>
                </div>
                <div class="description">
                    Nazwa quizu: {{application.quiz_name}} </br>
                    Uzyskane punkty: {{application.score}} / {{application.full_score}} </br>
                    <div class="gradeValue">
                        Ocena: {{application.grade}}
                    </div>
                    <div class="status">Status aplikacji: </div>
                    <div class="statusValue">
                        {{application.status}}
                    </div>
                    <a class="editButton" href="{% url 'recruiter_application_edit' application.id %}" style="float: right;">Edytuj</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script type="text/javascript">
    $(document).ready(function () {
        $(".statusValue").each(function () {
            if ($(this).html().includes("Rozpatrywana"))
                $(this).css("color", 'rgb(255, 198, 0)');

            if ($(this).html().includes("Zaakceptowana"))
                $(this).css("color", 'rgb(0, 161, 0)');

            if ($(this).html().includes("Odrzucona"))
                $(this).css("color", 'rgb(255, 1, 0)');

        });
        $(".gradeValue").each(function() {
            if ($(this).html().includes("Ocena: 0"))
            $(this).html("Ocena: Brak")
        });

    });
</script>

{% endblock %}