{% extends 'recruiter/basic.html' %}

{% block addanswer %}
    <div class="header">
        <h3>Dodaj odpowiedź</h3>
        <p>{{ question_content }}</p>
    </div>
    
    <div class="login">
    
        <form method="POST" id="form5">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <p>{{ form }}</p>
            {% endfor %}
        </form>
    
    </div>    
    
    
    <script type="text/javascript">
        submitForms = function () {
            document.getElementById("form5").submit();
        }
    </script>
    
    
    <div class="buttons">
        <input type="button" value="Dodaj odpowiedź" onclick="submitForms()" />
    </div>

{% endblock %}