{% extends 'recruiter/basic.html' %}

{% block addquiz %}
<div class="header">
    <div class="ui cards">
        <div class="card" style="width: 1200px; height: 55px;">
            <div class="content">
                <div class="site_name">Dodaj nowy quiz</div>
            </div>
        </div>
    </div>
</div>

    <div class="login">

        <form method="POST" action="recruiter_quiz_add" id="form3">
                {% csrf_token %}
                {{ quiz_form.as_p }}

                <script type="text/javascript">
                    document.getElementById("quizButton").onclick = function () {
                        location.href = "{% url 'recruiter_quiz_add' %}";  // chwilowo zmienione z 'recruiter_question_add'                        
                    };
                </script>
                
        </form>

    </div>
        
    <div class="buttons">
        <button type="submit" value="Submit" form="form3" id="quizButton">Dodaj quiz</button>
    </div>
{% endblock %}