{% extends 'recruiter/basic.html' %}

{% block overviewquiz %}
    <div class="header">
        <div class="ui cards">
            <div class="card" style="width: 1200px; height: 55px;">
                <div class="content">
                    <div class="site_name">Przeglądaj quizy</div>
                </div>
            </div>
        </div>
    </div>

    {% for quiz in quizzes %}
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header"><a class="quizlink"
                            href="{% url 'recruiter_question_add' quiz.id %}">{{ quiz.name }}</a></div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}