{% extends 'recruiter/basic.html' %}

{% block overviewquiz %}
    <div class="header">
        <h3>Przeglądaj quizy z danego stanowiska</h3>   
    </div>

    {% for quiz in quizzes %}
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header"><a class="quizlink" href="{% url 'recruiter_question_add' quiz.id %}">{{ quiz.name }}</a></div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}