{% extends 'recruiter/basic.html' %}

{% block overviewposiotion %}
    <div class="header">
        <h3>Przeglądaj stanowiska pracy</h3>   
    </div>

    {% for position in positions %}
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header"><a class="quizlink" href="{% url 'recruiter_position_quiz' position.id %}">{{ position.job_position }}</a></div>
                    <div class="meta">{{ position.description }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}