{% extends 'recruiter/basic.html' %}

{% block addanswer %}
    <div class="header">
    <div class="header">
            <div class="ui cards">
                <div class="card" style="width: 1200px; height: 80px;">
                    <div class="content">
                        <div class="site_name">Dodaj odpowiedź</div>
                        <p>{{ question_content }}</p>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="login">
    
        <form method="POST" id="form5">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <p>{{ form }}</p>
            {% endfor %}
        </form>
    
    </div>    
    
    
    <script type="text/javascript">
        submitForms = function () {
            document.getElementById("form5").submit();
        }
    </script>
    
    
    <div class="buttons">
        <input type="button" value="Dodaj odpowiedź" onclick="submitForms()" />
    </div>

{% endblock %}