.bg-light
{
	/* background-image: linear-gradient(45deg, #ae8b9c 0%, #8baaaa 100%); */
}

.overview
{
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 5px;
	width: 98%;
	margin: auto;
}

.quizzes
{
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	margin: 10px;
	border-radius: 5px;
}

a.quizlink 
{
    color: rgba(0,0,0,.85);
	text-decoration: none!important;
}

a.quizlink:hover
{
	color: #8baaaa;
}

.oldquestions
{
    margin-left: 20px;
    margin-top: 20px;
	background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-left: auto;
	margin-right: auto;
	font-size: 17px;;
}

input[type=button],
button[type=submit]
{
	background-color: rgba(0,0,0, 0.6);
	width: 200px;
	font-size: 15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=button]:hover,
button[type=submit]:hover
{
	background-color: rgba(0,0,0, 0.5);
}

#form1 > p > label[for=id_attachment]
{
	display: block;
	margin-top: 40px;
	padding: 3px;
}

#form1 > ul:errorlis
{
	display: none;
}

#form1 > p > input[id=id_attachment]
{
	margin-top: 10px;
}

.score
{
	text-align: center;
}

.status
{
	float: left;
	margin-right: 5px;;
}