.nav
{
	width: 100%;
	padding: 10px 0;
	background-color: rgba(65, 197, 250, 0.8);
	text-align: center;
	border-top: 1px solid #0f5b7e;
	border-bottom: 1px solid #0f5b7e;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 30px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	text-decoration: none;
	color: #ffffff;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #0f5b7e;
}

ol > li:hover
{
	background-color: rgba(29, 135, 184, 0.7);
}

ol > li:hover > a
{
	color: #052230;

}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol >li > ul > li
{
	background-color: rgba(29, 135, 184, 0.7);
	position: relative;
	z-index: 100;
	border-top: 1px dashed #0f5b7e;
}

ol > li > ul > li:hover
{
	background-color: rgba(29, 135, 184, 0.7);
}

ol > li > ul > li:hover > a
{
	color: #052230;
}

.overview
{
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 5px;
}

.quizzes
{
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	margin: 10px;
	border-radius: 5px;
}

a.quizlink 
{
    color: #ffffff;
	text-decoration: none;
}

a.quizlink:hover
{
	color: #1d87b8;
}

.oldquestions
{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input[type=button],
button[type=submit]
{
	background-color: rgba(0,0,0, 0.6);
	width: 200px;
	font-size: 15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=button]:hover,
button[type=submit]:hover
{
	background-color: rgba(0,0,0, 0.5);
}

#form1 > p > label[for=id_attachment]
{
	display: block;
	margin-top: 40px;
	padding: 3px;
}

#form1 > ul:errorlis
{
	display: none;
}

#form1 > p > input[id=id_attachment]
{
	margin-top: 10px;
}