.nav
{
	width: 100%;
	padding: 10px 0;
	background-color: rgba(53, 175, 60, 0.8);
	text-align: center;
	border-top: 1px solid #015801;
	border-bottom: 1px solid #015801;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 30px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	text-decoration: none;
	color: #ffffff;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #015801;
}

ol > li:hover
{
	background-color: rgba(53, 175, 60, 0.9);
}

ol > li:hover > a
{
	color: #013801;

}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol >li > ul > li
{
	background-color: rgba(53, 175, 60, 0.9);
	position: relative;
	z-index: 100;
	border-top: 1px dashed #015801;
}

ol > li > ul > li:hover
{
	background-color: rgba(53, 175, 60, 0.9);
}

ol > li > ul > li:hover > a
{
	color: #013801;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

td
{
	border: 1px solid rgba(0,0,0,0.5);
  	text-align: left;
	padding: 8px;
	background-color: rgba(0,0,0,0.4);
}

th
{
	border: 1px solid rgba(0,0,0,0.5);
  	text-align: left;
	padding: 8px;
	background-color: rgba(0,0,0,0.6);
}

.overview
{
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 5px;
}

.quizzes
{
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	margin: 10px;
	border-radius: 5px;
}

a.quizlink 
{
    color: #ffffff;
	text-decoration: none;
}

a.quizlink:hover
{
	color: #428f42;
}

.oldquestions
{
    margin-left: 20px;
    margin-top: 90px;
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#form4 > p > label:first-child 
{
	display: none;
}

#form3 > p > label 
{
	display: block;
	padding: 3px;
}

#form5 > p > label 
{
	display: block;
	padding: 3px;
}

#form6 > p > label 
{
	display: block;
	padding: 3px;
}

input[type=button],
button[type=submit]
{
	background-color: rgba(0,0,0, 0.6);
	width: 200px;
	font-size: 15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=button]:hover,
button[type=submit]:hover
{
	background-color: rgba(0,0,0, 0.5);
}

#form3 > p > input[type=text],
#form3 > p > select,
#form6 > p > input[type=text]
{
	width: 300px;
	background-color: #efefef;
	color: #404040;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

#form4 > p > textarea
{
	width: 600px;
	background-color: #efefef;
	color: #404040;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

#form5 > p > textarea
{
	width: 600px;
	background-color: #efefef;
	color: #404040;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

#form6 > p > input[id=id_description]
{
	width: 600px;
	height: 150px;
	background-color: #efefef;
	color: #404040;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	text-align: justify;
}
