.nav
{
	width: 100%;
	padding: 10px 0;
	background-color: #008000;
	text-align: center;
	border-top: 1px solid #015801;
	border-bottom: 1px solid #015801;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 30px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	text-decoration: none;
	color: #ffffff;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #015801;
}

ol > li:hover
{
	background-color: #428f42;
}

ol > li:hover > a
{
	color: #013801;

}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol >li > ul > li
{
	background-color: #428f42;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #015801;
}

ol > li > ul > li:hover
{
	background-color: #428f42;
}

ol > li > ul > li:hover > a
{
	color: #013801;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

td
{
	border: 1px solid rgba(0,0,0,0.3);
  	text-align: left;
	  padding: 8px;
	  background-color: rgba(0,0,0,0.1);
}

th
{
	border: 1px solid rgba(0,0,0,0.3);
  	text-align: left;
	padding: 8px;
	background-color: rgba(0,0,0,0.3);
}

.overview
{
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 5px;
}

.quizzes
{
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	margin: 7px;
	border-radius: 5px;
}

a.quizlink 
{
    color: #ffffff;
	text-decoration: none;
}

a.quizlink:hover
{
	color: #428f42;
}

.oldquestions
{
    margin-left: 20px;
    margin-top: 90px;
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#form4 > p > label:first-child 
{
	display: none;
}

#form3 > p > label 
{
	display: block;
	padding: 3px;
}
