html
{
	height: 95%;
}

body
{
	/* background-color: rgba(255,255,255,1); */
	/* background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90%); */
	background-image: url("3a.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif!important; 
	height: 100%;
}

.home_container
{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.header_main
{
	text-align: center;
}

.header
{
	text-align: center;
	padding: 30px 0;
}

.buttons_home
{
	text-align: center;
}

.buttons
{
	text-align: center;
	padding: 25px;
}

#regButton, #logButton, #loginButton, #registerButton
{
	background-color: #36b03c;
	width: 150px;
	font-size: 15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

#regButton:hover, #logButton:hover, #loginButton:hover, #registerButton:hover
{
	background-color: #37b93d;
}

#form1 > p > input[type=text],
#form1 > p > input[type=password],
#form2 > p > input[type=text],
#form2 > p > input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #404040;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.login
{
	font-size: 80%;
	margin-top: -14px;
	text-align: center;
}

#logout
{
	background-color: #adaaaa;
	border-right: none;
	border-radius: 5px;
}

textarea 
{
	border: 5px solid #ffffff;
	border-radius: 10px;
	text-align: justify;
}

.helptext
{
	display: none;
}

#form1 > p > label 
{
	padding: 3px;
	justify-content: center;
	display: flex;
	font-size: 15px;
}

#form2 > p > input 
{	
	padding: 3px;
	align-items: center;
}

#form2 > p > label 
{
	padding: 3px;
	justify-content: center;
	display: flex;
	font-size: 15px;
}

.ui.cards>.card {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	margin: auto;
    margin-bottom: .875em;
}

.ui.cards>.card>.content {
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    padding: 13px 13px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}

.ui.cards>.card>.content>.header:not(.ui) {
    font-weight: 700;
    font-size: 20.5px;
    margin-top: -8px;
}

.ui.cards>.card>.content>.header {
    display: block;
    color: rgba(0,0,0,.85);
}

.ui.cards>.card .meta {
	font-size: 1em;
	margin-top: -8px;
    color: rgba(0,0,0,.5);
}

.ui.cards>.card>.content>.description {
    clear: both;
    color: rgba(0,0,0,.68);
}

.site_name
{
	font-size: 20px;
	letter-spacing: 2px;
}