body
{
	background-color: #404040;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

.area
{
	height: 2px;
	width: 100%;
	padding: 10px 0;
	background-color: green;
}

.header
{
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.buttons_home
{
	padding-top: 10px;
	float: right;
}

.buttons
{
	text-align: center;
	padding: 25px;
}

.login
{
	font-size: 80%;
	margin-top: -14px;
	text-align: center;
}

textarea 
{
	border: 5px solid #ffffff;
	border-radius: 10px;
	text-align: justify;
}

.helptext
{
	display: none;
}