{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rekrutacja</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            <div class="area"></div>
            <h1>Zaloguj się</h1>
        </div>
        <div class="login">
            <form method="POST" name="login" id="form2">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>

        <div class="buttons">
            <button type="submit" value="Submit" form="form2">Zaloguj się</button>
        </div>
    </body>
    
</html>