{% extends 'candidate/candidate_home.html' %}

{% block overviewquiz %}
    <div class="header">
        <h3>Rozwiąż quiz</h3>
        <p>{{ quiz_name }}</p>
    </div>
    
    <div class="login">
    
        <form method="POST" action="recruiter_question_add" id="form1">
            {% csrf_token %}

            <div class="oldquestions">
                {% for question in questions %}
                    <p style="color: #6ed2fa;">{{ question.content }}</p>
                    <div>
                        {% for answer in question.answers %}
                            <p style="color: #d9dfd9;">{{ answer.content }}</p>
                            <input type="radio" name="{{ question.id }}"  value="{{ answer.is_clicked }}">
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </form>
    
    </div>

    <div class="buttons">
        <button type="submit" value="Submit" form="form1" id="submitquizButton">Wyślij quiz</button>
    </div>

{% endblock %}