{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>reQuizyt</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            <div class="area"></div>
            <h1>Zarejestruj się</h1>
        </div>
        <div class="login">
            <form method="POST" action="register_page" id="form1">
                
                {% for field in user_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                    <small style="color: grey; display:block; margin-top: 7px;">{{ error }}</small>
                    {% endfor %}
                </p>
                {% endfor %}
        
                {{ candidate_form.as_p }}
                {% csrf_token %}
            </form>
        </div>
        
        <div class="buttons">
            <button type="submit" id="registerButton" value="Submit" form="form1">Zarejestruj się</button>
        </div>
    </body>
    
</html>